{% extends 'base.html'%} 
{% load crispy_forms_tags %}
{% load static %} {% block content %}

<div class="feed">
  <div class="AskQuestion">
    <div class="questionbox">
      <form method="POST">
        {%csrf_token%}
        <!-- <div class="questionbox__input">
          <div class="post__avatar">
            <img src="{% static 'img.jpg'%}" alt="" />
          </div>
          <input type="text" placeholder="Ask a question!" />
        </div>
        <!-- <input class="questionbox__fileUpload" type="file" name="" id="" /> -->
        <!-- <div class="input-group mb-3">
            <input type="file" class="form-control" id="inputGroupFile02">
        </div>            -->
        <fieldset class="form-group" style="padding-left:10px ;">
          {{form|crispy}}
        </fieldset>
        <button class="questionbox__button">Sign Up</button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
